Checks: '-*, bugprone-*, cert-*, clang-analyzer-*, concurrency-*, cppcoreguidelines-*, google-*, hicpp-*, misc-*, modernize-*, performance-*, portability-*, -google-build-using-namespace, -modernize-use-auto, -modernize-use-trailing-return-type, -cppcoreguidelines-avoid-non-const-global-variables, -google-readability-namespace-comments, -google-readability-todo, -hicpp-uppercase-literal-suffix, -hicpp-use-auto, -misc-include-cleaner, -modernize-return-braced-init-list, -hicpp-signed-bitwise'