[submodule "SDK/SDL"]
	path = SDK/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "SDK/bullet3"]
	path = SDK/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "SDK/ImGui"]
	path = SDK/ImGui
	url = https://github.com/ocornut/imgui.git
